---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <h1 class="text-4xl">hello 👋</h1>
  <p>do I win the award for most empty homepage? <b>probably.</b></p>
  <p>
    jokes aside, go to the
    <Link href="/projects" underlined>projects page</Link>
    for some cool stuff
  </p>
</Layout>
