---
import Layout from "../layouts/Layout.astro";
import { SOCIAL_ACCOUNTS } from "../config.ts";
---

<Layout title="socials">
  <h1 class="text-4xl">socials</h1>

  <p>
    hello, you can basically find me everywhere with the username
    @thatgurkangurk, but here are some direct links
  </p>

  <div class="flex flex-col gap-2">
    {
      SOCIAL_ACCOUNTS.map((account) => {
        if (account.link)
          return (
            <div>
              - <a href={account.link}>{account.platform}</a>
            </div>
          );

        return (
          <div>
            - {account.platform}: {account.username}
          </div>
        );
      })
    }
  </div>
</Layout>
