---
type Props = {
  type: "warning" | "error";
};

const { type } = Astro.props;

function getColourFromType(type: Props["type"]) {
  switch (type) {
    case "error":
      return "bg-red-600 font-bold";
    case "warning":
      return "bg-orange-500";
  }
}
---

<div class={`my-2 px-4 rounded-md ${getColourFromType(type)} p-2 text-center`}>
  <slot />
</div>
