---
import { Navbar } from "./Navbar";
---

<header>
  <h2 class="text-center">gurkan's website</h2>
  <Navbar
    links={[
      { href: "/", title: "home" },
      { href: "/projects", title: "projects" },
      { href: "/socials", title: "socials" }
    ]}
  />
</header>
