---
type Props = {
  href: string;
  underlined?: boolean;
};

const { href, underlined } = Astro.props;

const pathname = new URL(Astro.request.url).pathname.slice(0, -1);

const isExternal = href.startsWith("http");
const isUnderlined = isExternal || pathname === href || underlined;
---

<a
  href={href}
  target={isExternal ? "_blank" : "_self"}
  class={`inline-block ${
    isUnderlined
      ? "underline decoration-themeColor text-themeColor underline-offset-4 transition-colors"
      : "text-white decoration-none"
  }`}
>
  <slot />
</a>
