---
import { Navbar as Bar } from "./Navbar";

export type Link = {
  title: string;
  href: string;
};

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

<header class="pb-2 text-center">
  <div class="flex flex-row justify-center gap-2">
    {
      links.map((link) => (
        <Bar.Link href={link.href}>{link.title}</Bar.Link>
      ))
    }
  </div>
</header>
