---
import Layout from "../../layouts/Layout.astro";
import { BadApple } from "../../components/badapple";
---

<Layout title="projects - bad apple">
  <a href="/projects">⬅️ back</a>
  <h1 class="text-4xl">
    bad apple in HTML <i class="text-xl">technically solidjs but shhh</i>
  </h1>
  <BadApple client:only />
  <noscript>
    <h3>hi!</h3>
    <p>you need javascript for this...</p>
  </noscript>
  <p class="font-italic">
    note from gurkan: this does not work on safari, because safari is dum dum
  </p>
</Layout>

<style is:inline>
  .button {
    display: none;
  }

  img {
    visibility: hidden;
  }

  td,
  tr {
    width: 5px;
    border: 0.5px solid black;
    height: 5px;
  }
  table {
    border-collapse: collapse;
  }

  body {
    color: #ffff;
  }
</style>
