---
import Layout from "../../layouts/Layout.astro";
import { Card } from "../../components/Card.tsx";
import { ProjectCard } from "../../components/ProjectCard.tsx";

type Frontmatter = {
  title: string;
  description: string;
  slug: string;
  needsJS: boolean;
};

async function getProjectFiles() {
  const projects = await Astro.glob<Frontmatter>("../../projects/**/*.mdx");

  return projects;
}

const projects = await getProjectFiles();
---

<Layout title="projects">
  <h1 class="text-4xl">projects</h1>
  <p>welcome to my projects</p>
  <Card type="info">most of these requires you to have javascript enabled</Card>
  <div class="grid grid-cols-2 gap-2">
    {
      projects.map((project) => {
        return (
          <ProjectCard project={{
            title: project.frontmatter.title,
            description: project.frontmatter.description,
            slug: project.frontmatter.slug,
            needsJS: project.frontmatter.needsJS
          }} />
        );
      })
    }
  </div>
</Layout>
