---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
---

<Layout title="projects">
  <h1 class="text-4xl">projects</h1>
  <p>welcome to my projects</p>
  <ul class="list-disc list-inside">
    <li class="underline font-bold">
      <Link underlined href="/projects/badapple">bad apple in HTML</Link>
    </li>
  </ul>
</Layout>
